body{
    width: 600px;
    margin-left: 30%; 
}

.fa{
    color: red;
    margin-left: 10%;
}
i#lapis{
    color: rgb(144, 144, 250);
}
button {
    background:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}
.gridform{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-between;
}
.btn.btn-primary{
    height: 40px;
    margin-top: 5%;
}